.landingPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    margin-bottom: 20px;
}

h1{
    color: hsl(0, 0%, 59%);
    font-weight: 300;
    margin-bottom: 10px;
}

h1 span{
    color: hsl(209, 33%, 12%);
    font-weight: 700;
}

h2{
    font-weight: 300;
    font-size: 20px;
    color: hsl(209, 33%, 12%);
    margin-bottom: 20px;
}

.dashboard{
    width: 700px;
    margin-bottom: 20px;
}

.social{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.social li{
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(223, 87%, 63%);
    border: 1px solid hsl(223, 100%, 88%);
    border-radius: 50px;
    width: 40px;
    height: 40px;
    transition: 0.3s ease-in;
}

.social li:hover{
    color: hsl(0, 0%, 100%);
    border: 1px solid hsl(223, 87%, 63%);
    background-color: hsl(223, 87%, 63%);
}

.rights{
    color: hsl(0, 0%, 59%);
    font-size: 15px;
}